<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron text-center">
    <h1>Katalog Albumow</h1>
    <p>Wybierz co chcesz zrobić</p>
</div>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/album">Dodaj album</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/result">Pokaż wszystkie</a>
        </li>

    </ul>
</nav>
</body>
</html>